{
    ApplicationDescription = "A terminal emulator";
    ApplicationIcon = Terminal;
    ApplicationName = Terminal;
    ApplicationRelease = "0.9.8";
    URL = "https://github.com/gershwin-desktop/gershwin-terminal";
    Authors = (
        "Alexander Malmberg <alex@malmberg.org>",
        "Sergii Stoian <stoyan255@ukr.net>",
        "Joe Maloney <pkgdemonteam@gmail.com>",
        "Simon Peter"
    );
    Copyright = "Copyright © 2002, 2003 Alexander Malmberg, 2015–2024 Sergii Stoian";
    CopyrightDescription = "Released under the GNU GPL v2. See COPYING for details.";
    FullVersionID = "0.9.8";
}
